<h1>About</h1>
<h2>Details</h2>
<p>Lorem ipsum dolor sit amet, ei his choro gloriatur, eam ne tale accumsan reprimique. 
His at scriptorem cotidieque. No pro libris discere, vis an audire oportere. Malis 
intellegam ei sea, sea an minimum forensibus quaerendum, tempor scribentur nec at.

Vel vidit legere perfecto te, ad summo dicit sit. In sit paulo zril, munere assueverit 
ad sea, vis et cibo referrentur. Ex eius voluptua sententiae has. Mei eu vocent 
abhorreant, option albucius definiebas qui in, at tritani salutatus duo. Cu qui esse 
necessitatibus, eu quo amet voluptaria rationibus. Nam vide fabellas id. Solum feugait pro te, 
dolore repudiandae ut sed.<p>

<h2>Menu</h2>
<ul class="nav">
<li><%= link_to 'Home', home_path %></li>
<li><%= link_to 'About', about_path %></li>
<li><%= link_to 'Review', review_path %></li>
</ul>