<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet, ei his choro gloriatur, eam ne tale accumsan reprimique. 
His at scriptorem cotidieque. No pro libris discere, vis an audire oportere. Malis 
intellegam ei sea, sea an minimum forensibus quaerendum, tempor scribentur nec at.</p>
<h2>Menu</h2>

<ul class="nav">
<li><%= link_to 'About', about_path %></li>
<li><%= link_to 'My Profile', profile_path %></li>
<li><%= link_to 'Review', review_path %></li>
</ul>