<h1>My Profile</h1>
<h2>Menu</h2>
<ul class="nav">
<li><%= link_to 'Home', home_path %></li>
<li><%= link_to 'About', about_path %></li>
<li><%= link_to 'Review', review_path %></li>
</ul>

<table>
<tr>
<td><%=image_tag('suraj.jpg') %></td>
<td>
    <h1>Suraj Maharjan</h1>
    <b>Interests:</b> Computer Games, Photography
    <h1>More about me:</h1>
    <p>Lorem ipsum dolor sit amet, ei his choro gloriatur, eam ne tale accumsan reprimique. 
    His at scriptorem cotidieque. No pro libris discere, vis an audire oportere. Malis 
    intellegam ei sea, sea an minimum forensibus quaerendum, tempor scribentur nec at.</p>  
<td>
</tr>
</table>


